@import url(//db.onlinewebfonts.com/c/ee258cc6f8519e35391e064b34d70b3f?family=DistrictProW01-Light);
@font-face {
    font-family: "DistrictProW01-Light";
    src: url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.eot");
    src: url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ee258cc6f8519e35391e064b34d70b3f.svg#DistrictProW01-Light") format("svg");
}

body {
    background: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 100%;
}

#main{
    background: #515358;
    height: 33px;
}

#header-bcg{
    background: #ffffff;
}

#main-logo{
  width: 80%;
}

#main-logo img{
    padding: 5%;
    width: 100%;
    height: 50px;
}

#nav{

}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 12px;
}

#nav li a:hover{
    color: red;
    text-decoration: underline;
}

/*Box*/
#box{
  background: #fff;
  margin-top: 20px;
}

.box_text{
  background: #fff;
  /*margin-top: 20px;*/
  /*width: 70%;*/
  /*margin: 2% 12.5%; */
}

.box_text h4{
  font-family: calibri; 
  font-size: 30px;
}

.box_head{
  border-bottom: 1px solid #ccc;
}

.box_head p i{
  font-size: 10px;
}

.box_head h4{
  font-family: "DistrictProW01-Light";
    font-size: 18px;
    color: #000;
}

.box_info{
  margin-top: 1%;
  /*padding: 5%;*/
  height: 400px;
  overflow: auto;
}

.box_info p{
  font-family: calibri;
    font-size: 16px;
    color: #4C4C4C;
}

.box_info p a{
    color: #000;
    text-decoration: underline;
}

.box_info p a:hover{
    color: #4C4C4C;
}

.box_info h4{
  font-family: calibri;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

/*Form*/
form{
  padding: 1% 10%;
  width: 70%;
}

.field{
  width: 100%;
  margin-top: 5%;
}

input[type='text'], input[type='email'], input[type='password']{
  width: 60% !important;
  height: 40px;
  border-radius: 0;
  padding: 10px !important;
}

#submitBtn{
  float: right;
}

.ast {
  color: red;
  padding-right: 10px;
}

label{
  font-family: calibri;
  padding: 10px 10px 0px 0px;
  font-size: 16px;
  font-weight: lighter;
}

#btnCancel{
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-image: linear-gradient(#eee, #ccc, #eee);
  color: #000;
}

#btnCancel:hover{
  text-decoration: underline;
}

#Msg{
  position: relative;
  left: 30%;
  width: 30%;
}

#btnContinue{
  padding: 10px;
  border: 1px solid #D90011;
  border-radius: 5px;
  background-image: linear-gradient(#D90011, darkred, #D90011);
  color: #fff;
  font-size: 20px;
}

#btnContinue:hover{
  text-decoration: underline;
}

#btnUpdatePin{
  padding: 10px;
  border: 1px solid #D90011;
  border-radius: 5px;
  background-image: linear-gradient(#D90011, darkred, #D90011);
  color: #fff;
  font-size: 20px;
}

#btnUpdatePin:hover{
  text-decoration: underline;
}

#proceedBtn{
  padding: 10px;
  border: 1px solid skyblue;
  border-radius: 5px;
  background: skyblue;
  color: #fff;
  font-size: 20px;
}

#proceedBtn:hover{
  text-decoration: underline;
}


#report{
    background: #515358;
    height: 50px;
}

.report{
    height: 100%;
    padding: 15px 25px;
}

.report:hover{
    background: #fff;
    color: red;
}

.report a{
    font-size: 14px;
    font-family: "DistrictProW01-Light";
    color: #fff;
    font-weight: bold;
}

.report a:hover{
    color: red;
    text-decoration: none;
}

#footer{
    margin: 0;
    padding: 0;
    background: #3E4045;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 10px;
}

li a:hover{
    color: #fff;
    text-decoration: underline;
}

.clear{
    margin: 100px;
}

/*Loader CSS*/
#loader {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -50px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #781496;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

/*Progressive Bar*/
#myProgress {
  width: 100%;
  background-color: #fff;
  height: 30px !important;
}

#myBar {
  width: 0%;
  background-color: #DD1F26;
  text-align: center;
  line-height: 30px;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
